@{
	ViewData["Title"] = "Test";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>Kendi olusturdugumuz view sayfasi</p>

<table>
	<tr>
		<th>ad</th>
		<th>soyad</th>
		<th>numara</th>

	</tr>
	<tr>
		<td>bora</td>
		<td>baykar</td>
		<td>1336</td>
	</tr>
	<tr>
		<td>enes</td>
		<td>balay</td>
		<td>1337</td>
	</tr>
</table>
